@model ITHelper.Models.AVTicket
@{ Layout = "/Views/Shared/_EMail.cshtml"; }

<br />
<br />
<h1>Ticket Created</h1>

<div>
    <p>A new AV Ticket request has been created in the Hope Ticket Management System.</p>
    <p>
        You are receiving this email to be made aware of this ticket.
    </p>
    <br />
    <br />
    <hr />
    @*<img src=\"cid:Pic1\" style="float: right;" />*@
    <h3>Ticket: @Model.Id</h3>
    <br/>
    <partial name="~/Views/EMail/AVTicketDetails.cshtml" model="@Model" />
    <br/>
    <a href="http://HopeWeb/ITHelper/AVTickets/Details/@Model.Id">Ticket Details</a>
    <br/>
</div>
<br />
<br />