@model ITHelper.Models.BuildingTicket
@{ Layout = "/Views/Shared/_EMail.cshtml"; }

<br />
<br />
<h1>IT Ticket Details</h1>

<div>
    <p>A Buildings &amp; Grounds Ticket has been edited in the Hope Ticket Management System.</p>
    <br />
    <br />
    <hr />
    @*<img src=\"cid:Pic1\" style="float: right;" />*@
    <h3>Ticket: @Model.Id</h3>
    <br />
    <partial name="~/Views/EMail/BuildingTicketDetails.cshtml" model="@Model" />
    <br />
    <a href="~/BuildingTickets/Details/@Model.Id">Ticket Details</a>
</div>
<br />
<br />