@model ITHelper.Models.BuildingTicket
@{ Layout = "/Views/Shared/_EMail.cshtml"; }

<br />
<br />
<h1>Building Ticket Details</h1>

<div>
    <p>A new Buildings &amp; Grounds Ticket has been created in the Hope Ticket Management System.</p>
    <p>
        You are receiving this email to be made aware of this ticket.
    </p>
    <br />
    <br />
    <hr />
    <img src="~/images/brokenPC.jpg" style="float: right;" />
    <h3>Ticket: @Model.Id</h3>
    <br />
    <partial name="~/Views/EMail/BuildingTicketDetails.cshtml" model="@Model" />
    <br />
    <a href="~/BuildingTickets/Details/@Model.Id">Ticket Details</a>
</div>
<br />
<br />