@model ITHelper.Models.ITTicket
@{ Layout = "/Views/Shared/_EMail.cshtml"; }

<br />
<br />
<h1>IT Ticket Details</h1>

<div>
    @if (Model.Status == Ticket.TicketStatus.Closed)
    { <p>An IT Ticket has been <em>resolved</em> in the Hope Ticket Management System.</p> }
    else
    { <p>An IT Ticket has been updated in the Hope Ticket Management System.</p> }
    <p>
        You are receiving this email as an interested participant in this issue.
    </p>
    <br />
    <br />
    <hr />
    <img src="~/images/brokenPCUpdate.jpg" style="float: right;" />
    <h3>Ticket: @Model.Id</h3>
    <br />
    <partial name="~/Views/EMail/TicketDetails.cshtml" model="@Model" />
    <br />
    <a href="~/ITTickets/Details/@Model.Id">Ticket Details</a>
</div>
<br />
<br />