@model ITHelper.Models.ITTicket

@{
    ViewData["Title"] = "IT Ticket Details";
}

<style>
    body {
        background-image: url(../images/itTicketBackground.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<h1>IT Ticket Details</h1>

<div>
    <h4>Ticket: @Model.Id</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" value="@User.Identity.Name" disabled />
            </div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="EMail" class="control-label"></label>
                <input asp-for="EMail" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="DateSubmitted" class="control-label"></label>
                <input asp-for="DateSubmitted.LocalDateTime" class="form-control" disabled />
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="PCName" class="control-label"></label>
                <input asp-for="PCName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<ITTicket.TicketCategory>()" disabled>
                    <option value="">-- Select One --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Severity" class="control-label"></label>
                <select asp-for="Severity" class="form-control" asp-items="Html.GetEnumSelectList<Ticket.TicketSeverity>()" disabled>
                    <option value="">-- Select One --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Ticket.TicketStatus>()" disabled>
                    <option value="">-- Select One --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="AssignedTo" class="control-label"></label>
                <input asp-for="AssignedTo" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="LastUpdated" class="control-label"></label>
                <input asp-for="LastUpdated.LocalDateTime" class="form-control" disabled />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control" disabled></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Resolution" class="control-label"></label>
        <textarea asp-for="Resolution" class="form-control" disabled></textarea>
    </div>
</div>
<br/>
<br/>
@if (Model?.Updates?.Count() > 0)
{ <partial name="~/Views/Shared/Updates.cshtml" model="Model.Updates" /> }
<br/>
<br/>
<div>
    <a asp-action="AddUpdate" asp-route-id="@Model.Id">Update Status</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
