@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Hope Church</h1>
        <h2>Ticketing System Dashboard</h2>
    </div>

<h2><a href="~/Dashboard/OpenIssues">Open Issues</a></h2>