

<h1>Current Open Issues</h1>

<div class="chart-container">
    <canvas id="chart" style="width:100%; height:500px"></canvas>
    @*https://www.c-sharpcorner.com/article/creating-charts-with-asp-net-core/*@
</div>


<script src="~/js/ChartJS-2.7.2.js"></script>
<script src="~/js/jQuery-3.6.0.js"></script>

<script type="text/javascript">
    window.onload = function (e) {
        displayChart();
    };

    function displayChart() {
        var chartName = "chart";
        var ctx = document.getElementById(chartName).getContext('2d');
        var myChart = new  Chart(ctx, @Html.Raw(ViewBag.Chart.SerializeBody()));
    }
</script>  