@model ITHelper.Models.Update

@{
    ViewData["Title"] = "AddUpdate";
}

<h1>AddUpdate</h1>

<h4>Update</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsResolved" /> @Html.DisplayNameFor(model => model.IsResolved)
                </label>
            </div>

            <input type="hidden" id="id" name="id" value="@Model.Id" />
            <input type="hidden" id="ticketId" name="ticketId" value="@Model.Ticket.Id" />

            <div class="form-group">
                <input type="submit" value="Add Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
