<div class="text-center">
    <h1 class="display-4">Configuration Index Page</h1>
    <br />
    <h2>Ticketing System Dashboard</h2>
    <br />
    <h3><a href="~/Categories/Index">Categories Configuration</a></h3>
    <br />
    <h3><a href="~/Locations/Index">Locations Configuration</a></h3>
    <br />
    <h3><a href="~/SystemParameters/Index">System Parameters</a></h3>
</div>
<br />
